/* ############## GENERAL ############## */

html,
body {
    background-color: black;
    color: white;
    min-width: 100vw;
}

.form-control {
    margin-bottom: 20px;
}

.container {
    min-width: 100vw;
    margin: 0;
    padding: 0;
}

/* ############## BUTTONS ############## */

.btn {
    border-radius: 50px;
}

.btn:hover {
    cursor: pointer;
}

.onboarding-btn,
.search-form-btn {
    background-color: goldenrod;
    color: black;
}

/* ############## NAVBAR ############## */

.navbar {
    background-color: black;
    height: 46px;
    border-bottom: 1px solid white;
    margin-bottom: 0;
    position: relative;
    z-index: 9999;
}

.navbar a {
    color: white;
    font-size: 13px;
    font-weight: bold;
}

.navbar a:hover {
    color: #daa520;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand>img {
    display: inline-block;
    margin-bottom: 2px;
    margin-right: 5px;
    width: 35px;
    border-radius: 2px;
}

.nav>li>a>img {
    width: 32px;
    border-radius: 32px;
}

ul.nav.navbar-nav {
    align-items: center;
}

ul.nav.navbar-nav li {
    margin: 0 0.5rem;
    display: flex;
}

/* ############## SIGNUP ############## */

#user_form input.form-control {
    font-size: 18px;
    font-weight: bold;
    padding: 12px;
}

/* ############## USER PROFILE ############## */

.profile-header-div {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin: 0;
    padding: 0;
    border-bottom: 20px solid white;
}

#mtg-profile-background-img {
    width: 100vw;
    height: 28vw;
}

#profile-avatar {
    margin-top: -8vw;
    margin-left: 25px;
    height: 100px;
    width: 100px;
    border: 5px solid white;
    border-radius: 100px;
}

.profile-username {
    font-size: x-large;
    font-weight: bolder;
}

.profile-info {
    padding: 0px 25px 0px 135px;
}

.user-location {
    color: goldenrod;
}

/* ############## EDIT ############## */



/* ############## 404 ############## */