/* ############## GENERAL ############## */

body {
    background-color: black;
    color: white;
}

.form-control {
    margin-bottom: 20px;
}

.btn {
    border-radius: 50px;
}

.btn:hover {
    cursor: pointer;
}

/* ############## NAVBAR ############## */

.navbar {
    background-color: black;
    height: 46px;
    border-bottom: 1px solid white;
    margin-bottom: 1rem;
    position: relative;
    z-index: 9999;
}

.navbar a {
    color: white;
    font-size: 13px;
    font-weight: bold;
}

.navbar a:hover {
    color: #daa520;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand>img {
    display: inline-block;
    margin-bottom: 2px;
    margin-right: 5px;
    width: 35px;
    border-radius: 2px;
}

.nav>li>a>img {
    width: 32px;
    border-radius: 32px;
}

ul.nav.navbar-nav {
    align-items: center;
}

ul.nav.navbar-nav li {
    margin: 0 0.5rem;
    display: flex;
}

/* ############## NAVBAR SEARCH BAR ############## */

nav form.navbar-form {
    display: flex;
    position: relative;
}

#search.form-control {
    border-radius: 20px;
    margin-bottom: 0;
    width: 100%;
    font-size: 13px;
    padding-right: 28px;
    box-sizing: border-box;
}

#search.form-control+.btn {
    position: absolute;
    right: 9px;
    top: 2px;
    bottom: 4px;
    z-index: 1;
    padding: 0;
    color: #66757f;
}

#search.form-control+.btn:active,
#search.form-control+.btn:focus {
    box-shadow: none;
}

#search:active,
#search:focus {
    box-shadow: none;
    border: 2px solid #007bff;
}

/* ############## ONBOARDING ############## */