/* ############## GENERAL ############## */

html,
body {
    background-color: rgb(82, 81, 81);
    color: white;
    max-width: 100vw;
}

.row {
    padding: 25px;
}

.form-control {
    margin-bottom: 20px;
}

.container,
#card-search-content-div,
.profile-header-div {
    max-width: 100vw;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: goldenrod;
}

/* ############## LOADING PAGE ############## */

#loading-page-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.mtg-icon {
    width: 40px;
}

.mtg-loader {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;

    img {
        animation-name: loading;
        animation-timing-function: ease-in;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        height: 30px;
        width: 30px;
        position: absolute;

        &:nth-child(1) {
            animation-delay: 2s;
        }

        &:nth-child(2) {
            animation-delay: 1.5s;
        }

        &:nth-child(3) {
            animation-delay: 1s;
        }

        &:nth-child(4) {
            animation-delay: 0.5s;
        }

        &:nth-child(5) {
            animation-delay: 0;
        }
    }
}

@keyframes loading {
    0% {
        transform: rotate(360deg);
        transform-origin: 100px;
    }
}

/* ############## MAIN DROPDOWN ############## */

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: -110px;
    margin-top: 5px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: goldenrod;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* ############## POPUPS ############## */

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    padding: 40px;
    width: 250px;
    max-width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.popup-content {
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* ############## CARDS ############## */

.card-div {
    width: 100%;
}

.card-img,
.card-icons-div {
    display: flex;
    justify-content: center;
    width: 100%;
}

.card-results {
    border-radius: 10px;
    width: 250px;
    height: auto;
    margin: 10px;
    box-shadow: -8px 9px 16px -3px #000;
}

.card-icons {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin-right: 5px;
    margin-left: 5px;
    box-shadow: -8px 9px 16px -3px #000;
}

.card-results:before,
.card-results:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-repeat: no-repeat;
    opacity: .5;
    mix-blend-mode: color-dodge;
    transition: all .33s ease;
}

.card-results:before {
    background-position: 50% 50%;
    background-size: 300% 300%;
    background-image: linear-gradient(115deg,
            transparent 0%,
            #9F7928 25%,
            transparent 47%,
            transparent 53%,
            #D1B464 75%,
            transparent 100%);
    opacity: .5;
    filter: brightness(.5) contrast(1);
    z-index: 1;
}

.card-results:hover {
    animation: none;
    transition: box-shadow 0.1s ease-out;
}

.card-results:hover {
    transition: none;
    animation: Card 12s ease 0s 1;

    &:before {
        transition: none;
        animation: Gradient 12s ease 0s 1;
    }
}

@keyframes Gradient {

    0%,
    100% {
        opacity: 0.5;
        background-position: 50% 50%;
        filter: brightness(.5) contrast(1);
    }

    5%,
    9% {
        background-position: 100% 100%;
        opacity: 1;
        filter: brightness(.75) contrast(1.25);
    }

    13%,
    17% {
        background-position: 0% 0%;
        opacity: .88;
    }

    35%,
    39% {
        background-position: 100% 100%;
        opacity: 1;
        filter: brightness(.5) contrast(1);
    }

    55% {
        background-position: 0% 0%;
        opacity: 1;
        filter: brightness(.75) contrast(1.25);
    }
}

@keyframes Card {

    0%,
    100% {
        transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
    }

    5%,
    8% {
        transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg);
    }

    13%,
    16% {
        transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
    }

    35%,
    38% {
        transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
    }

    55% {
        transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
    }
}

/* ############## BUTTONS ############## */

.btn {
    border-radius: 50px;
}

.btn:hover {
    cursor: pointer;
}

.onboarding-btn,
.search-form-btn {
    background-color: goldenrod;
    color: black;
}

#card-search-button {
    margin-bottom: 50px;
}

/* ############## NAVBAR ############## */

.navbar {
    background-color: black;
    height: 46px;
    max-width: 100vw;
    border-bottom: 1px solid white;
    margin-bottom: 0;
    position: relative;
    z-index: 9999;
}

.navbar a {
    color: white;
    font-size: 13px;
    font-weight: bold;
}

.navbar a:hover {
    color: #daa520;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand>img,
.navbar-right>div>img {
    display: inline-block;
    margin-bottom: 2px;
    margin-right: 5px;
    width: 35px;
    border-radius: 2px;
}

.nav>li>a>img {
    width: 32px;
    border-radius: 32px;
}

ul.nav.navbar-nav {
    align-items: center;
}

ul.nav.navbar-nav li {
    margin: 0 0.5rem;
    display: flex;
}

/* ############## FOOTER ############## */

footer,
header {
    margin: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.page-numbering,
.footnote {
    margin: 0;
    padding: 0;
    height: 30px;
    line-height: 30px;

}

#search-results-page-numbers {
    margin: 25px;
}

.page-numbering {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.footnote {
    font-size: x-small;
    font-style: italic;
}

/* ############## SIGNUP ############## */

#user_form input.form-control {
    font-size: 18px;
    font-weight: bold;
    padding: 12px;
}

/* ############## USER PROFILE ############## */

.profile-header-div {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

#mtg-profile-background-img {
    width: 100%;
    height: 28vw;
    background-color: #000;
}

#profile-avatar {
    margin-top: -80px;
    margin-left: 25px;
    height: 100px;
    width: 100px;
    border: 5px solid white;
    border-radius: 100px;
}

.profile-img-username {
    background-color: white;
    color: black;
    height: 40px;
    width: 100%;
}

.profile-header-bar {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    min-width: 100%;
}

.profile-username {
    margin-left: 150px;
    font-size: larger;
    font-size: x-large;
    font-weight: bolder;
}

.edit-profile-btn {
    text-decoration: none;
    height: 34px;
    margin: 3px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #fff, transparent);
    background-color: goldenrod;
    border: 1px goldenrod solid;
}

.profile-info {
    padding: 25px 25px 0px 150px;
}

.user-location {
    color: goldenrod;
}

/* ############## EDIT ############## */

/* ############## SEARCH FORM ############## */

.search-field-label {
    color: goldenrod;
}

#card_search_form {
    width: 80%;
}

.search-form-col {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}


/* ############## 404 ############## */