<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/stylesheets/app.css">
</head>

<body class="{% block body_class %}{% endblock %}">
    <nav class="navbar navbar-expand">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">
                    <img src="/static/images/MTGWorkshopLogo.png" alt="logo">
                    <span>MTG Workshop</span>
                </a>
            </div>
            <div class="nav navbar-nav navbar-right">
                <div class="dropdown">
                    <img src="/static/images/hamburger.png" alt="Links Dropdown">
                    <div class="dropdown-content">
                        {% if not g.user %}
                        <a href="/cs/card-search">Card Search</a>
                        <hr>
                        <a href="/acct/login">Log In</a>
                        <a href="/acct/signup">Sign Up</a>
                        {% else %}
                        <a href="/acct/user/{{g.user.id}}">Profile</a>
                        <a href="/cs/card-search">Card Search</a>
                        <a href="/inv/user/{{g.user.id}}/inventory">Inventory</a>
                        <a href="/wl/user/{{g.user.id}}/wishlist">Wish List</a>
                        <a href="/deck/user/{{g.user.id}}/decks">Decks</a>
                        <hr>
                        <a href="/about/contact-us">Contact Us</a>
                        <a href="/acct/logout">Log Out</a>
                        {% endif %}
                    </div>
                </div>
            </div>
    </nav>
    <div class="container">
        {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
        {% block content %}
        {% endblock %}
        <footer>
            <p class="page-numbering">
                {% block footer %}
                {% endblock %}
            </p>
            <p class="footnote">THIS WEBSITE IS NOT PRODUCED, ENDORSED, SUPPORTED, OR AFFILIATED WITH WIZARDS OF THE
                COAST.</p>
        </footer>
        <script src="/static/js/app.js"></script>
        <script src="https://unpkg.com/jquery"></script>
        <script src="https://unpkg.com/bootstrap"></script>
    </div>
</body>


</html>