{% extends 'base.html' %}

{% block title %}Card Info{% endblock %}

{% block body_class %}card_info{% endblock %}

{% block content %}
<div class="card-div" {% if g.user %} data-card-id={{card.multiverseid}} data-user-id={{user.id}} {% endif %}>
    <div class="card-img">
        <img class="card-results" src="{{card.imageUrl}}" alt="{{card.name}}-{{card.multiverseid}}">
    </div>
    <div class="card-icons-div">
        <span>
            {% if g.user %}
            {% if card.multiverseid in inventory %}
            <img class="g-inv-icon card-icons" src="/static/images/in_inventory_icon.png" alt="Add to Inventory">
            {% else %}
            <img class="bw-inv-icon card-icons" src="/static/images/inventory_icon.png" alt="Add to Inventory">
            {% endif %}
            <img class="card-icons deck-icon" src="/static/images/deck_icon.png" alt="Add to Deck">
            <div class="popup">
                <div class="popup-content">
                    <span class="closePopup">&times;</span>
                    <form method="post" class="form-add-card-to-deck">
                        {{ form.csrf_token }}
                        <input type="hidden" name="card_id" value="{{ card.multiverseid }}">
                        <label for="deck">Add Card to:</label>
                        <select class="deck-selection" name="deck">
                            {% for value, label in form.deck.choices %}
                            <option value="{{ value }}" class="deck-option">{{ label }}</option>
                            {% endfor %}
                        </select>
                        <button class="deck-icon-submit-btn" type="submit">Submit</button>
                    </form>
                </div>
            </div>
            {% if card.multiverseid in wishlist %}
            <img class="g-wl-icon card-icons" src="/static/images/in_wishlist_icon.png" alt="Add to Wish List">
            {% else %}
            <img class="bw-wl-icon card-icons" src="/static/images/wishlist_icon.png" alt="Add to Wish List">
            {% endif %}
            {% endif %}
        </span>
    </div>
</div>
<div id="card-info-table-div">
    <table class="card-info-table">
        <tr class="card-info-table-headers">
            <th>Card Info Type</th>
            <th>Card Info Details</th>
        </tr>
        <tr>
            <td><b>Name</b></td>
            <td>{{card.name}}</td>
        </tr>
        <tr>
            <td><b>Set Name</b></td>
            <td>{{card.setName}}</td>
        </tr>
        <tr>
            <td><b>Mana Cost</b></td>
            <td>{{card.manaCost}}</td>
        </tr>
        <tr>
            <td><b>Total Mana Cost</b></td>
            <td>{{card.cmc}}</td>
        </tr>
        <tr>
            <td><b>Colors</b></td>
            <td>{{card.colors}}</td>
        </tr>
        <tr>
            <td><b>Type</b></td>
            <td>{{card.type}}</td>
        </tr>
        <tr>
            <td><b>Rarity</b></td>
            <td>{{card.rarity}}</td>
        </tr>
        <tr>
            <td><b>Card Text</b></td>
            <td>{{card.text}}</td>
        </tr>
        <tr>
            <td><b>Power</b></td>
            <td>{{card.power}}</td>
        </tr>
        <tr>
            <td><b>Toughness</b></td>
            <td>{{card.toughness}}</td>
        </tr>
    </table>
    <br>
    <table class="card-info-table">
        <tr class="card-info-table-headers">
            <th>Rulings</th>
            <th>Ruling Details</th>
        </tr>
        {% for ruling in card.rulings %}
        <tr>
            <td>{{ruling.data}}</td>
            <td>{{ruling.text}}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <table class="card-info-table">
        <tr class="card-info-table-headers">
            <th>Format</th>
            <th>Legality</th>
        </tr>
        {% for format in card.legalities %}
        <tr>
            <td>{{format.format}}</td>
            <td>{{format.legality}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}