{% extends 'base.html' %}

{% block title %}MTG Cards{% endblock %}

{% block body_class %}cards{% endblock %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
        <form class="form-group" method="POST" id="card_search_form">
            {{ form.hidden_tag() }}

            {% for field in form if field.widget.input_type != 'hidden' %}
            {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
            {{ field(placeholder=field.label.text, class="form-control") }}
            {% endfor %}

            <button class="search-form-btn btn btn-lg btn-block" action="/search">Search</button>
        </form>
    </div>
</div>
{% endblock %}