{% extends 'base.html' %}

{% block title %}Contact Us{% endblock %}

{% block body_class %}contact_us{% endblock %}

{% block content %}
<img src="/static/images/MTGWorkshopLogo.png" alt="MTG Workshop Logo">
<h1>About MTG Workshop</h1>
<p>MTG Workshop was built by Nicole Honl using the <a href="https://magicthegathering.io/">magicthegathering.io</a> API
    and Python SDK. As someone who has played magic with her husband for many years, Nicole thought a website where one
    could build their dream deck and pick out the cards they wished to buy would be helpful. In the future, Nicole would
    like to add functionality to this website for a Life Counter, recording Game Data, and card market prices. For any
    questions, concerns, or additional ideas, don't hesitate to reach out to the email below.</p>
<p>As a final note, this website is not produced, endorsed, supported, or affiliated with Wizards of the Coast.</p>
<h1>Contact Us</h1>
<p>Email: nicole.m.honl@gmail.com</p>
<p>Please use the subject "MTG Workshop"</p>
{% endblock %}