{% extends 'base.html' %}

{% block title %}Deck View{% endblock %}

{% block body_class %}view_deck{% endblock %}

{% block content %}
<h1>{{user.username}}, {{deck.deck_name}} Deck</h1>
<span><a href="/user/{{user.id}}/deck/{{deck.id}}/edit"><button type="button">Edit Deck</button></a></span>
<div>
    <a href="/card-search">
        <button class="add-cards-button" type="button">Add Cards</button>
    </a>
</div>
<div>
    {% for card in cards %}
    <div>
        <img src="{{card.card_img}}" alt="{{card.card_name}}, {{card.card_id}}">
    </div>
    <div>
        <span>Qty {{card.card_qty}}</span>
        <span><button>+</button></span>
        <span><button>-</button></span>
    </div>
    <div>
        <span>
            <a href="/card/{{card.card_id}}">
                <img id="card-info-icon" class="card-icons" src="/static/images/info_icon.png" alt="Card Info">
            </a>
        </span>
        <span>Inventory</span>
        <span>Wishlist</span>
        <span><a href="/user/{{user.id}}/deck/{{deck.id}}/{{card.card_id}}/remove"><button
                    type="button">X</button></a></span>
    </div>
    {% endfor %}
</div>
{% endblock %}