{% extends 'base.html' %}

{% block title %}Deck View{% endblock %}

{% block body_class %}view_deck{% endblock %}

{% block content %}
<h1>{{user.username}}, {{deck.deck_name}} Deck</h1>
<span><a href="/user/{{user.id}}/deck/{{deck.id}}/edit"><button type="button">Edit Deck</button></a></span>
<div>
    <a href="/card-search">
        <button class="add-cards-button" type="button">Add Cards</button>
    </a>
</div>
<div>
    {% for card in cards %}
    <div>
        <img src="{{card.card_img}}" alt="{{card.card_name}}, {{card.card_id}}">
    </div>
    <div>
        <span>Qty: {{card.card_qty}}</span>
    </div>
    <div>
        <span>
            <a href="/card/{{card.card_id}}">
                <img id="card-info-icon" class="card-icons" src="/static/images/info_icon.png" alt="Card Info">
            </a>
        </span>
        <span>
            <a href="/user/{{g.user.id}}/inventory/{{card.card_id}}/add">
                {% if card.card_id in inventory %}
                <img class="card-icons" src="/static/images/in_inventory_icon.png" alt="Add to Inventory">
                {% else %}
                <img class="card-icons" src="/static/images/inventory_icon.png" alt="Add to Inventory">
                {% endif %}
            </a>
        </span>
        <span>
            <a href="/user/{{g.user.id}}/wishlist/{{card.card_id}}/add">
                {% if card.card_id in wishlist %}
                <img class="card-icons" src="/static/images/in_wishlist_icon.png" alt="Add to Wish List">
                {% else %}
                <img class="card-icons" src="/static/images/wishlist_icon.png" alt="Add to Wish List">
                {% endif %}
            </a>
        </span>
        <span>
            <img class="card-icons deck-icon" src="/static/images/deck_icon.png" alt="Add to Deck">
            <div class="popup">
                <div class="popup-content">
                    <span class="closePopup">&times;</span>
                    <form method="post" action="/user/{{g.user.id}}/deck/{{card.card_id}}/add">
                        {{ deck_form.csrf_token }}
                        <input type="hidden" name="card_id" value="{{ card.card_id }}">
                        <label for="deck">Add Card to:</label>
                        <select class="deck-selection" name="deck">
                            {% for value, label in deck_form.deck.choices %}
                            <option value="{{ value }}">{{ label }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </span>
        <span>
            <img class="card-icons qty-icon" src="/static/images/qty_icon.png" alt="Adjust Card Qty">
            <div class="popup">
                <div class="popup-content">
                    <span class="closePopup">&times;</span>
                    <form method="post" action="/user/{{user.id}}/deck/{{deck.id}}/{{card.card_id}}/adjust-qty">
                        {{ form.hidden_tag() }}
                        {% for field in form if field.widget.input_type != 'hidden' %}
                        {% for error in field.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                        {{ field(placeholder=field.label.text, class="form-control") }}
                        {% endfor %}
                        <button type="submit">Save</button>
                    </form>
                </div>
            </div>
        </span>
        <span>
            <a href="/user/{{user.id}}/deck/{{deck.id}}/{{card.card_id}}/remove">
                <img src="/static/images/remove_icon.png" alt="Remove Card" class="card-icons">
            </a>
        </span>
        <span>

        </span>
    </div>
    {% endfor %}
</div>
{% endblock %}