{% extends 'base.html' %}

{% block title %}Deck List{% endblock %}

{% block body_class %}view_decks{% endblock %}

{% block content %}
<h1 id="decks-title">{{user.username}} Decks</h1>
<div id="deck-content">
    <div id="decks-button-div">
        <a href="/deck/user/{{user.id}}/deck/add">
            <button id="decks-add-btn" type="button">Add Deck</button>
        </a>
    </div>
    <div id="decks-table-div">
        <table id="decks-table">
            <tr id="decks-table-headers">
                <th>Your Decks</th>
            </tr>
            {%for deck in decks %}
            <tr id="decks-table-rows">
                <td class="decks-table-cells"><a href="/deck/user/{{user.id}}/deck/{{deck.id}}">{{deck.deck_name}}</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}