{% extends 'base.html' %}

{% block title %}Deck View{% endblock %}

{% block body_class %}view_deck{% endblock %}

{% block content %}
<h1 id="deck-header">{{user.username}} {{deck.deck_name}} Deck</h1>
<span id="button-span">
    <span class="span-button"><a href="/cs/card-search">
            <button class="add-cards-button" type="button">Add Cards</button>
        </a>
    </span>
    <span class="span-button">
        <a href="/deck/user/{{user.id}}/deck/{{deck.id}}/edit"><button id="edit-deck-button" type="button">Edit
                Deck</button></a>
    </span>
</span>
<div id="card-divs-container">
    {% for card in cards %}
    <div class="card-div" data-card-id={{card.card_id}} data-user-id={{user.id}} data-deck-id="{{deck.id}}">
        <div class="card-img">
            <img class="card-img" src="{{card.card_img}}" alt="{{card.card_name}}, {{card.card_id}}">
        </div>
        <div class="deck-qty-div qty-div">
            <span class="deck-qty">Qty {{card.card_qty}}</span>
        </div>
        <div class="card-icons-div">
            <span>
                <a href="/cs/card/{{card.card_id}}">
                    <img id="card-info-icon" class="card-icons" src="/static/images/info_icon.png" alt="Card Info">
                </a>
                {% if card.card_id in inventory_list %}
                <img class="g-inv-icon card-icons" src="/static/images/in_inventory_icon.png" alt="Add to Inventory">
                {% else %}
                <img class="bw-inv-icon card-icons" src="/static/images/inventory_icon.png" alt="Add to Inventory">
                {% endif %}
                {% if card.card_id in wishlist_list %}
                <img class="g-wl-icon card-icons" src="/static/images/in_wishlist_icon.png" alt="Add to Wish List">
                {% else %}
                <img class="bw-wl-icon card-icons" src="/static/images/wishlist_icon.png" alt="Add to Wish List">
                {% endif %}
                <img class="card-icons deck-icon" src="/static/images/deck_icon.png" alt="Add to Deck">
                <div class="popup">
                    <div class="popup-content">
                        <span class="closePopup">&times;</span>
                        <form method="post" class="form-add-card-to-deck">
                            {{ deck_form.csrf_token }}
                            <input type="hidden" name="card_id" value="{{ card.multiverseid }}">
                            <label for="deck">Add Card to:</label>
                            <select class="deck-selection" name="deck">
                                {% for value, label in deck_form.deck.choices %}
                                <option value="{{ value }}" class="deck-option">{{ label }}</option>
                                {% endfor %}
                            </select>
                            <button class="deck-icon-submit-btn" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
                <img class="card-icons deck-qty-icon" src="/static/images/qty_icon.png" alt="Adjust Card Qty">
                <div class="popup">
                    <div class="popup-content">
                        <span class="closePopup">&times;</span>
                        <form method="post" class="form-deck-qty">
                            {{ form.hidden_tag() }}
                            {% for field in form if field.widget.input_type != 'hidden' %}
                            {% for error in field.errors %}
                            <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                            {{ field(placeholder=field.label.text, class="deck-qty-field") }}
                            {% endfor %}
                            <button type="submit">Save</button>
                        </form>
                    </div>
                </div>
                <img src="/static/images/remove_icon.png" alt="Remove Card" class="deck-rmv-icon card-icons">
            </span>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}