{% extends 'base.html' %}

{% block title %}Edit Deck{% endblock %}

{% block body_class %}edit-deck{% endblock %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-4">
        <h2 class="join-message">Edit Your {{deck.name}} Deck</h2>
        <form method="POST" id="deck_form">
            {{ form.hidden_tag() }}
            {% for field in form if field.widget.input_type != 'hidden' %}
            {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
            {{ field(placeholder=field.label.text, class="form-control") }}
            {% endfor %}
            <div class="edit-btn-area">
                <button class="btn btn-success">Edit this deck!</button>
                <a href="/deck/user/{{user.id}}/deck/{{deck.id}}" class="btn btn-outline-secondary">Cancel</a>
            </div>
            <div>
                <a href="/deck/user/{{user.id}}/deck/{{deck.id}}/delete">
                    <button type="button">Delete {{deck.name}} Deck</button>
                </a>
            </div>
        </form>
    </div>
</div>

{% endblock %}