{% extends 'base.html' %}

{% block title %}Inventory View{% endblock %}

{% block body_class %}view_inventory{% endblock %}

{% block content %}
<h1>{{user.username}} Inventory</h1>
<div>
    <a href="/card-search">
        <button class="add-cards-button" type="button">Add Cards</button>
    </a>
</div>
<div>
    {% for card in cards %}
    <div class="card-div" data-card-id={{card.card_id}} data-user-id={{user.id}}>
        <img src="{{card.card_img}}" alt="{{card.card_name}}, {{card.card_id}}">

        <div class="inv-qty-div">
            <span class="inv-qty">Qty {{card.card_qty}}</span>
        </div>
        <div>
            <span>
                <a href="/card/{{card.card_id}}">
                    <img id="card-info-icon" class="card-icons" src="/static/images/info_icon.png" alt="Card Info">
                </a>
            </span>
            <span>Wishlist</span>
            <span>Deck</span>
            <span>
                <img class="card-icons inv-qty-icon" src="/static/images/qty_icon.png" alt="Adjust Card Qty">
                <div class="popup">
                    <div class="popup-content">
                        <span class="closePopup">&times;</span>
                        <form method="post" class="form-inv-qty">
                            {{ form.hidden_tag() }}
                            {% for field in form if field.widget.input_type != 'hidden' %}
                            {% for error in field.errors %}
                            <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                            {{ field(placeholder=field.label.text, class="inv-qty-field") }}
                            {% endfor %}
                            <button type="submit">Save</button>
                        </form>
                    </div>
                </div>
            </span>
            <span><a href="/user/{{user.id}}/inventory/{{card.card_id}}/remove"><button
                        type="button">X</button></a></span>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}