{% extends 'base.html' %}

{% block title %}Log In{% endblock %}

{% block body_class %}onboarding{% endblock %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
        <h2 class="join-message">Welcome back!</h2>

        <form method="POST" id="user_form">
            {{ form.hidden_tag() }}

            {% for field in form if field.widget.input_type != 'hidden' %}
            {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
            {{ field(placeholder=field.label.text, class="form-control") }}
            {% endfor %}

            <button type="submit" class="onboarding-btn btn btn-block btn-lg">Log in</button>
        </form>
        <a href="/acct/add-demo-user">
            <button id="demo-btn" type="button" class="demo-btn btn btn-block btn-lg">Demo User Login</button>
        </a>
        <div id="demo-user-note-box">
            <h3 id="demo-user-note-header">DEMO USER NOTE!</h3>
            <h4 id="demo-user-note">The demo user login will be accessible to one user at a time. When using the demo
                user login, you will have full functionality of a user. However,
                if idle for more than 20 minutes you will be logged out. Upon logging out, the demo user profile will be
                reset.</h4>
        </div>
    </div>
</div>

{% endblock %}