{% extends 'base.html' %}

{% block title %}Log In{% endblock %}

{% block body_class %}onboarding{% endblock %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
        <h2 class="join-message">Welcome back!</h2>

        <form method="POST" id="user_form">
            {{ form.hidden_tag() }}

            {% for field in form if field.widget.input_type != 'hidden' %}
            {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
            {{ field(placeholder=field.label.text, class="form-control") }}
            {% endfor %}

            <button type="submit" class="onboarding-btn btn btn-block btn-lg">Log in</button>
        </form>
        <a href="/acct/add-demo-user">
            <button id="demo-btn" type="button" class="demo-btn btn btn-block btn-lg">Demo User Login</button>
        </a>
        <h3>DEMO USER NOTE!</h3>
        <h4>When using the demo user login, you will have full functionality of a user. However, if idle for more than
            20 minutes, or if you chose to log out, all information will be reset.</h4>
    </div>
</div>

{% endblock %}